h1{
    color: white;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    border: 15px double red;
    margin-bottom: 200px;
}

img {
    width: 300px;
    border: 5px solid yellow;
    /* padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px; */
    padding: 100px;
    margin-left: 100px;
    margin: auto;
    display: block;
}